services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    working_dir: /usr/src/karla
    command: php -S 0.0.0.0:8080
    volumes:
      - ./src:/usr/src/karla
      - ./conf/karla.conf:/etc/karla.conf
