name: Playwright Tests
on:
  push:
    branches: [development]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: inject karla.conf file
        run: |
          cat << EOF | sudo tee /etc/karla.conf > /dev/null
          ${{ secrets.KARLA_CONF }}
          EOF

      - name: Start PHP server
        run: |
          cd src
          php -S 127.0.0.1:8080 -t public > /tmp/server.log 2>&1 &

      - name: show server logs
        run: |
          curl -f -s localhost:8080; echo "hello"; cat /tmp/server.log; echo "hi"

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Playwright Browsers
        run: |
          cd test
          npm ci
          npx playwright install --with-deps

      - name: Run Playwright tests
        run: |
          cd test
          npx playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
